# IntelliJ IDEA
.idea/
*.iml

# NetBeans / Ant
nbproject/
build/
dist/

# Maven
target/

# Java compiled files
*.class

# Real input/output files
data/entrada/*
data/salida/*

# Keep empty data folders
!data/entrada/.gitkeep
!data/salida/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db